<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <div class="navBar">
        <nav>
            <a class="homeLink" href="./index.html">Home</a>
            <a class="divider">|||</a>
            <a class='adminLink' href="./admin.html">Admin Panel</a>
            <a class="divider">|||</a>
            <a class="dlLink" href="./download.html">Download Report</a>
            <a class="divider">|||</a>
            <a class="update" href="./update.html">Update Records</a>
        </nav>
    </div>
    <div class="adminContainer">
        <h3 class="adminHeading">Clever Well Water Report</h3>
        <table class = "submissionTable" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Well One Reading</th>
                    <th>Well One Free</th>
                    <th>Well Two Reading</th>
                    <th>Team Two Free</th>
                    <th>Outside Free</th>
                    <th>Outside Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for row in list_users %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[6]}}</td>
                    <td>{{row[7]}}</td>
                    
                    
                    <td width="100">
                        
                    <a href="/edit/{{row[0]}}" class="edit-btn">Edit</a> 
                    <a href="/delete/{{row[0]}}" class="delete-btn">Delete</a>
                {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>